/* CSS for recipes */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 200px;
    background-color:rgb(222,246,205);
  font-family: verdana, arial, helvetica, inherit;
  color: rgb(122, 104,94);
  text-align: center;
  line-height: 46pt;
  padding-top: 120px 120px;
  padding-left: 120px;
  padding-right: 120px;
  list-style: none;
}


h1 {
color:rgb(190, 110, 42);
font-family: georgia, cursive;
font-size: 6em;
text-align: center;
border-style: solid;white;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 50px;
padding-top: 50px;
line-height: normal;
}

h2,h3 {
color:rgb(69, 50, 36);
font-family: georgia, cursive;
font-size: 3.5em;
text-align: centre;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 85%;
  display: block;
  margin: 0 auto;
  width: 50%;
}

blockquote {
}

.caption {
  display: block;
}

table {
}

td,
th {
}

p,
ol,
ul {
  font-family: verdana, arial, helvetica, inherit;
  font-size: 2.5em;
  color: rgb(122, 104, 94) ;
  text-align: center;
  line-height: 46pt;
  padding-top: 120px 120px;
  padding-left: 120px;
  padding-right: 120px;
  list-style: none;
  margin-bottom: 1em;
}

ol{
  font-family: verdana, arial, helvetica, inherit;
  font-size: 2.5em;
  color: rgb(122, 104, 94) ;
  text-align: left;
  line-height: 195%;
  padding-top: 120px 120px;
  padding-left: 120px;
  padding-right: 120px;
}

p{
  font-family: verdana, arial, helvetica,inherit;
  font-style: italic;
  font-size: 3em;
  text-align: center;
  color: rgb(0, 0, 0);
}



hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

/* for a menu for all recipes */
ul.allrecipes {
  list-style: none;
}

.menu {
  display: block;
  border: 1px solid gray;
  width: 15%;
  font-size: 60%;
  padding: 10px;
  margin: 20px 0;
}

@media query { @media screen

}
